#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v --buildsystem=cmake

%:
	dh  $@

override_dh_auto_configure:
	# Pull in ROS configuration
	. "/opt/ros/indigo/setup.sh" ] && \
	dh_auto_configure -- \
                -DCATKIN_BUILD_BINARY_PACKAGE="1" \
                -DCMAKE_INSTALL_PREFIX="/opt/ros/indigo" \
                -DCMAKE_PREFIX_PATH="/opt/ros/indigo"

override_dh_auto_build:
	# This needs rosdep init but can not be executing here due to lack of root 
	# perms in dh_build phase (run as pbuilder user). rosdep init should be 
	# configured in a pbuilder hook (see relase-tools).
	. "/opt/ros/indigo/setup.sh" && \
	rosdep update && \
        export ROS_PACKAGE_PATH=`pwd`:/usr/share/osrf-common-1.0/ros:$$ROS_PACKAGE_PATH && \
	dh_auto_build
	

override_dh_shlibdeps:
	# Pull in ROS configuration
	. "/opt/ros/indigo/setup.sh" && \
	dh_shlibdeps

override_dh_auto_test:
	echo -- Skipping tests
	#dh_auto_test
	true
