Source: sandia-hand
Standards-Version: 3.9.3
Maintainer: Morgan Quigley <morgan@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake, debhelper (>= 7.0.50~), ros-groovy-xacro, ros-groovy-ros, osrf-common, libboost-dev, ros-groovy-image-common, ros-groovy-ros-comm, ros-groovy-common-msgs, avr-libc, gcc-avr, libqt4-dev
Homepage: https://share.sandia.gov/news/resources/news_releases/robotic_hand/

Package: sandia-hand
Architecture: any
Section: devel
Priority: extra
Depends: ros-groovy-xacro, ros-groovy-ros-comm, osrf-common, libboost-dev, ros-groovy-image-common, ros-groovy-common-msgs, libqtcore4, libqtgui4, ${misc:Depends}
Breaks: drcsim (<< 2.6.0)
Conflicts: sandia-hand-prerelease, sandia-hand-nightly
Description: Software, firmware, and simulation models for the Sandia Hand
 Software, firmware, and simulation models for the Sandia Hand.
Homepage: https://share.sandia.gov/news/resources/news_releases/robotic_hand/
