Source: sandia-hand-nightly
Standards-Version: 3.9.3
Maintainer: Morgan Quigley <morgan@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake,
 debhelper (>= 7.0.50~),
 ros-hydro-xacro,
 ros-hydro-ros,
 ros-hydro-image-common,
 osrf-common-nightly,
 gcc-avr,
 avr-libc,
 libqt4-dev
Homepage: https://share.sandia.gov/news/resources/news_releases/robotic_hand/

Package: sandia-hand-nightly
Architecture: any
Section: devel
Priority: extra
Depends: ros-hydro-xacro,
 ros-hydro-ros-comm,
 ros-hydro-image-common,
 osrf-common-nightly (>= 1.1.0),
 libqtcore4,
 libqtgui4,
 ${misc:Depends}
Breaks: drcsim (<= 3.0.0-1)
Conflicts: sandia-hand-prerelease, sandia-hand
Description: Software, firmware, and simulation models for the Sandia Hand
 Software, firmware, and simulation models for the Sandia Hand.
Homepage: https://share.sandia.gov/news/resources/news_releases/robotic_hand/
